.b-newCustomerAddress {
  &__customerData {
    display: flex;
    align-items: center;
    gap: spacing(xsmall);
    text-align: center;

    font-weight: fontweight(medium);
    border: 1px solid color(borderLight);
    padding: spacing(xsmall);

    p {
      margin: 0;
      text-align: start;
    }

    &-name {
      color: color(textBlack);
      font-weight: fontweight(semiBold);
    }

    &-initial {
      display: inline-block;
      border-radius: 50%;
      padding: spacing(small);
      background-color: color(mutedHighlight);
      color: color(textBlack);
      border: 1px solid color(borderLight);
    }
  }
}
