@use "./tokens" as *;

:root {
  --nav-expanded: 260px;
  --nav-collapsed: 80px;
  --nav-backgroundColor: #ffffff;
  --main-backgroundColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: color(text);
  font-family: fontFamily(primary), sans-serif;
  font-weight: fontweight(default);
  line-height: 1.5;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color(backgroundBlack);
  }
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p {
  font-size: fontsize(default);
}
