@use "sass:map";

$global-variable-navCollaps: 80px;

/**
 * colors
 */
$colorMap: (
  primary: #1e87f0,
  secondary: #3d6ae0,
  tertiary: #0b304e,
  accent: #c0a023,

  muted: #f0f4ff,
  mutedGray: #f2f3f2,

  success: #2ca84a,
  warning: #ffb340,
  danger: #c53333,

  mutedHighlight: #f5f7fb,

  footer: #f7f8fa,
  footerText: #3c3c3c,

  highlight: #ffd966,
  highlightBackground: #7373731a,

  text: #7c7b84,
  textLight: #767676,
  textDark: #555,
  textBlack: #222222,

  borderLight: #e5e7eb,

  backgroundWhite: #ffffff,
  backgroundBlack: #222222,

  linearPrimaryHover:
    linear-gradient(
      90deg,
      rgba(30, 135, 240, 0.15) 0%,
      rgba(30, 135, 240, 0) 30%
    ),
);

/**
 * Breakpoints
 */
$screenSizeMap: (
  default: 0px,
  small: 640px,
  medium: 960px,
  large: 1200px,
  xlarge: 1600px,
  xxlarge: 1950px,
);

/**
 * Typography
 */
$fontSizeMap: (
  xxsmall: 0.75rem,
  xsmall: 0.875rem,
  default: 1rem,
  small: 1.125rem,
  medium: 1.25rem,
  large: 1.5rem,
  xlarge: 2rem,
  xxlarge: 3.25rem,
  xxxlarge: 3.875rem,
  xxxxlarge: 6.25rem,
);

/**
 * Fontweights
 */
$fontWeightMap: (
  extraLight: 200,
  light: 300,
  default: 400,
  medium: 500,
  semiBold: 600,
  bold: 700,
  extraBold: 800,
  black: 900,
);

$fontFamilyMap: (
  primary: "poppins",
  secondary: "Quicksand",
);

/**
 * Spacings
 */
$spacingMap: (
  xxsmall: 0.313rem,
  xsmall: 0.625rem,
  small: 1.25rem,
  default: 1.875rem,
  medium: 3.125rem,
  large: 4.375rem,
  xlarge: 6.25rem,
);

@function color($key) {
  @return map.get($colorMap, $key);
}

@function breakpoint($key) {
  @return map.get($screenSizeMap, $key);
}

@function fontsize($key) {
  @return map.get($fontSizeMap, $key);
}

@function fontweight($key) {
  @return map.get($fontWeightMap, $key);
}

@function spacing($key) {
  @return map.get($spacingMap, $key);
}

@function fontFamily($key) {
  @return map.get($fontFamilyMap, $key);
}
